<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.mysql.ShipDataMapper">


    <select id="list" resultType="top.hting.entity.mysql.ShipData">
        select * from SHIPDATA
        order by SHIP_REG_NO desc


    </select>
</mapper>