<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.sqlserver.CbsDivisionListMapper">


    <select id="findByParams" resultType="top.hting.entity.sqlserver.plan.CbsDivisionList">
        select * from Cbs_Division_List
        where CbsDivisionPlanFID = #{parentId}
        AND SysDeleted = 0

    </select>
</mapper>