<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.sqlserver.setup.CbsPrivateTechMapper">


    <select id="findByParams" resultType="top.hting.entity.sqlserver.setup.CbsPrivateTech">

        select * from Cbs_Private_Tech
        WHERE CbsPrivateMarkFID = #{parentId} and sysDeleted = 0
        ORDER BY SerialNumber,SysCreated ASC

    </select>
</mapper>