<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.sqlserver.tech.CbsTwoNewsTechMapper">


    <select id="findByParentNewsId" resultType="top.hting.entity.sqlserver.tech.CbsTwoNewsTech">
        select * from Cbs_TwoNews_Tech
        where CbsMarkNewsFID = #{parentId} and SysDeleted = 0


    </select>
</mapper>