<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.oracle.pub.ActHiActInstMapper">


    <select id="listSetupPubNoInstanceId" resultType="top.hting.entity.oracle.pub.PubInstance">
        SELECT ts.setupid, ts.projectname,ts.applytime, ahp.PROC_INST_ID_ FROM TBL_SETUPPUBLIC ts
          LEFT JOIN ACT_HI_PROCINST ahp
          ON ts.setupid = ahp.BUSINESS_KEY_
          WHERE ahp.proc_inst_id_ IS  NULL

    </select>
</mapper>