<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.oracle.markrelation.MarkRelationMapper">
    <insert id="insert" parameterType="top.hting.entity.oracle.markrelation.MarkRelation">
        INSERT INTO TBL_MARKRELATION
        (
          RELATIONID
         ,MARKID
         ,SERIALNUMBER
         ,MARKID2
         ,SYSCREATED
         ,SYSCREATEDBY
         ,SYSORG
         ,SYSDEPT
         ,SYSLASTUPD
         ,SYSLASTUPDBY
        )
        VALUES
        (
            SYS_GUID(),
            #{markId,jdbcType=VARCHAR},
            1,
            #{markId2,jdbcType=VARCHAR},
            SYSDATE,
            'admin',
            '092000',
            '',
            SYSDATE,
            'admin'

        )

    </insert>


    <select id="get" resultType="top.hting.entity.oracle.markrelation.MarkRelation">

             SELECT m.MARKNAME AS markName,
      m.MARKID,
      m.marktablecode
    FROM TBL_MARK m
    LEFT JOIN TBL_MARKRELATION tm ON tm.MARKID2=m.MARKID
    WHERE
    m.ISDISMANTLE=0
    AND (M.MARKNAME LIKE '%雷达应答器' OR M.MARKNAME LIKE '%AIS%航标' OR M.MARKNAME LIKE '%雾号' OR M.MARKNAME LIKE '%雾钟')
    AND tm.MARKID2 IS NULL


    </select>
</mapper>