<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.oracle.SeqMapper">


    <!-- 更新seq的值 -->
    <update id="updateValue">
        update TBL_SEQUENCE
        set sequence = #{sequence},
            syslastupd = sysdate
        where sequenceid = #{sequenceid}


    </update>
</mapper>