<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hting.mapper.oracle.TblMarkMapper">


    <select id="findByMarkName" resultType="top.hting.entity.oracle.TblMark">
        select * from  tbl_mark
        where MARKNAME like '%'||#{markName}||'%'
        and IsDismantle = 0


    </select>
    <select id="findByMarkTableCode" resultType="top.hting.entity.oracle.TblMark">

        select * from  tbl_mark where marktablecode like #{markTableCode}||'%'
        and IsDismantle = 0

    </select>
</mapper>